<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário com Entidades</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .custom-container {
            max-width: 600px; /* Ajuste a largura conforme necessário */
            margin: auto;
        }
    </style>
</head>
<body>
    <div class="container bg-light border p-3 shadow rounded mt-5 custom-container">
        <div style="background-color: #01796F; border-radius: 4px;">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" style="width: 100%;" height="70">
        </div>
        <p>
        <h4 class="text-center">Análise Critica dos Indicadores</h4>
        <p>
            <p>
        <div class="row justify-content-center">
            <div class="col-12">
                <form action="/graficos" method="post">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="start_date">Data de Início:</label>
                            <input type="date" class="form-control" id="start_date" name="start_date" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="end_date">Data de Término:</label>
                            <input type="date" class="form-control" id="end_date" name="end_date" required>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="entidade">Entidade:</label>
                        <select class="form-control" id="entidade" name="entidade" required>
                            <option value="" disabled selected>Selecione o Setor</option>
                        </select>
                    </div>
                    <div class="form-group text-right">
                        <button type="submit" class="btn btn-success">Consultar</button>
                    </div>
                    <div style="text-align: center; margin-top: 40px;">
                        <img src="{{ url_for('static', filename='ona.png') }}" alt="Logo" style="width: 200px; height: 70px; margin-left: auto; margin-right: auto;">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            fetch('/get_entidades')
                .then(response => response.json())
                .then(data => {
                    const select = document.getElementById('entidade');
                    data.forEach(entidade => {
                        const option = document.createElement('option');
                        option.value = entidade.id;
                        option.textContent = entidade.descricao;
                        select.appendChild(option);
                    });
                })
                .catch(error => console.error('Erro ao carregar entidades:', error));
        });
    </script>
</body>
</html>
